* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('./img/quadro.png') center;
  background-size: cover;
}

.qrcode {
  border: groove rgba(0, 0, 0);
  border-radius: 10px;
  background: rgba(194, 190, 190);
  border-width: 6px;
  padding: 10px;
  box-shadow: 5px 5px 10px black;
}

.input{
    height: 38px;
    border-radius: 8px;
    max-width: 300px;
    width: 100%;
    margin: 24px 0;
    padding: 8px;
    outline: none;
    border: 3px groove #b6b6b6;
    background: white;
    font-size: 18px;
}

.button {
  margin: 8px 6px;
  padding: 8px 6px;
  border: groove rgba(0, 0, 0, 0.762);
  border-width: 5px;
  border-radius: 20px;
  box-shadow: 2.5px 2.5px 4px rgba(0, 0, 0, 0.649);
  background: rgba(255, 255, 255, 0.61);
  transition: 1.2s;
}

.button:hover {
  transform: scale(1.2);
  background: rgba(31, 199, 255, 0.595);
}

a {
  color: rgb(255, 255, 255);
  font-size: 22px;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;
  text-shadow: 1.8px 1.8px 2px rgba(0, 0, 0, 0.741);
  background: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

